@media (max-width:992px) {
  //backgroundimg
  .footer{
    background-image: url(./images/lynx_landing.png) , url(./images/background_in_space.jpg);
    background-repeat: no-repeat , repeat ;
    background-position: center bottom , left top;  

    .space{
      padding-bottom: 400px;
      padding-top: 40px;
      padding-right: 80px;
      padding-left: 80px;
    }
  }

  .footer{
    display: block;
    font-size: 15px;
    

    .space{

      .up-menu{
       margin-right: 38px; 
        
        .uper-link{
          width: 100%;
          text-align: center;
          padding: 10px 20px;
          font-size: 20px;

          .upl-a{
            color: #FFF4A3;
            text-decoration: none;
          }
        }
      }
    }
  }

  .mid-menu{

    .midm-block{
      width: 100%;
      text-align: center;
      display: block;
      
      .mmb-title{
        font-size: 26px;
        color: #ddd;
        margin-top: 40px;
        margin-bottom: 20px;
      }

      .ga-button{
        display: block;
        color: #ddd;
        text-decoration: none;
        font-size: 16px;
        margin-bottom: 0.6em;
      }
    }
  }

  .social{
    text-align: center;
    padding: 60px 40px 10px 40px;
    color: #ddd;
    font-size: 20px;
    
    .blank{
      cursor: pointer;
      font-size: 20px;
      margin-right: 10px;
      text-decoration: none;

      .sl{
       color: #ddd;
       text-decoration: none;
      }
    }
    .line{
      margin-top: 16px;
    }
    .blank2{
      cursor: pointer;
      margin-right: 10px;
      font-size: 15px;
      color: #ddd;
      text-decoration: none;
      display: inline-block;
    }
  }

  .ftext{
    text-align: center;
    color: #ddd;
    font-size: 12px;
    display: block;
    padding-bottom: 100px;
    
    .gabot{
      text-decoration: underline;
      color: #ddd;
    }
  }

}

@media (min-width:993px){
  .footer{
    background-image: url(./images/lynx_landing.png), url(./images/background_in_space.jpg);
    background-color: #282A35;
    background-repeat: no-repeat, repeat;
    background-position: right bottom, center center /*left top*/;
    display: block;
    font-size: 15px;

    .space{
      padding: 40px 80px 300px 80px;
      max-width: 1400px;

      .up-menu{

        .uper-link{
          padding: 40px 30px;
          float: left;
          color: #FFF4A3;
          padding-left: 2.6%;
          padding-right: 2.6%;
          
          .upl-a{
            color: inherit;
            text-decoration: none;
            cursor: pointer;
          }
        }
        .uper-link:first-child{
          padding: 40px 10px 40px 40px;
        }

      }
    }
  }


  .mid-menu{
    display: block;

    .midm-block{
      padding-left: 33px;
      padding-right: 63px;
      float: left;
      color: #ddd;
      font-size: 12px;
      width: auto;
     
      .mmb-title{
        color: #ddd;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 18px;
        text-align: left;
      }
      .ga-button{
        color: inherit;
        text-decoration: none;
        font-size: 14px;
        float: left;
        margin-bottom: 0.6em;
        cursor: pointer;
      }

    }
    .midm-block:last-child{
      padding-right: 0px;
    }
  }


}




