
.top-menu{
  .top-link{
    color: #FFF4A3;
    font-size: 18px;
    text-decoration: none;
  }
}

.tutorial-menu{
  .tutorial-text{
    color: #ddd;
    font-size: 24px;
  }
  .tutorial-link{
    color: #ddd;
    font-size: 16px;
    text-decoration: none;
  }
}

.refrences-menu{
  .refrences-text{
    color: #ddd;
    font-size: 24px;
  }
  .refrences-link{
    color: #ddd;
    font-size: 16px;
    text-decoration: none;
  }
}

.examples-menu{
  .exaples-text{
    color: #ddd;
    font-size: 24px;
  }
  .exaples-link{
    color: #ddd;
    font-size: 16px;
    text-decoration: none;
  }
}

.certified-menu{
  .certified-text{
    color: #ddd;
    font-size: 24px;
  }
  .certified-link{
    color: #ddd;
    font-size: 16px;
    text-decoration: none;
  }
}



@media (max-width:992px) {
  //backgroundimg
  .footer{
    background-image: url(./images/lynx_landing.png) , url(./images/background_in_space.jpg);
    background-repeat: no-repeat , repeat ;
    background-position: center bottom , left top;  
    display: flex;
    justify-content: center;
    background-size: 500px, auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .top-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .tutorial-menu{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .refrences-menu{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .examples-menu{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .certified-menu{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}


@media (min-width:993px) {
  .footer{
    background-image: url(./images/lynx_landing.png), url(./images/background_in_space.jpg);
    background-color: #282A35;
    background-repeat: no-repeat, repeat;
    background-position: right bottom, center center /*left top*/;
    display: block;
    font-size: 15px;
    background-size: 500px, auto;
    height: 861px;
  }
}

